*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: purple;
    color: white;
    padding: 5px;
   
}
/* can use line height as well whicj will be equal to the tag height */
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.choice:hover{
 cursor: pointer;
 background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 2.5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3 rem;
    gap: 2.5rem;
}

#user-score,#comp-score{
    font-size: 4 rem;
}

#msg{
    background-color: purple;
    color: white;
    font-size: 1.5rem;
    
    display: inline;
  border-radius: 5px;
  padding: 4px;
}
.msg-container{
    margin-top: 3.5rem;
}

